:root{
    --grey:#212121;
    --green:#009660;
    --white:#e9e9e9;
    --black:#0c0c0c;
    --lgrey:#929292;
}

@font-face {
    font-family: neu;
    src: url(./NeueMachina-Light.woff2);
}
@font-face {
    font-family: manv;
    src: url(./Manrope-VariableFont_wght.woff2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: var(--black);
}


/*=------------------------ nav bar -------------------------------*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 19px 40px;
    position: fixed;
    width: 100%;
}

.green{
    color: var(--green);
}
.grey{
    color: var(--grey);
    background-color: #ffffff;
}
.lgrey{
    color: var(--lgrey);
}

.nav1 {
    display: flex;
    align-items: center;
    gap:18px;
    /* background-color: red; */
}
.nav1 img{
    height: 50px    ;
}
.nav1 h4{
    font-family:neu;
    font-size: 17px;
    font-weight: 100;
    line-height: 1.4;
}
.nav2{
    display: flex;
    align-items: center;
    gap:25px;
}
.nav2 h4{
    font-family: neu;
    font-size: 20px;
    font-weight: 100;
}
.nav2 img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    object-fit: cover;
}
.nav2 h4 i{
    font-size: 21px;
}
.nav3{
    display: none;
    align-items: center;
    gap:25px;
}
.nav3 h4{
    font-family: neu;
    font-size: 20px;
    font-weight: 100;
}
.nav3 img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    object-fit: cover;
}
.nav3 i{
    font-size: 18px;
}

@media (max-width:1000px) {
    nav{
        padding: 13px 20px;
    }
    .nav1 img{
        height: 30px;
    }
    .nav1 h4{
        font-size: 12px;
    }
    .nav2{
        display: none;
    }
    .nav3{
        display: flex;
    }
}
/*=---------------------------------- nav complete ------------------------------------------------- */



/*=---------------------------------- main body ---------------------------------------------------- */
main{
    padding-top: 120px;
}

.section1{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 15px 70px;
    font-family: manv;
}


/*:-======================================================*/
/*+----------------- LEFT SECTION -----------------------*/
/*=-====================================================*/

/*:--------------------------------------------*/
/*:----------- LEFT UPPER SECTION ------------*/
/*:------------------------------------------*/
/*? LEFT UPPER SECTION */

.section1 .left{
    width: 43%;
}
.section1 .left h1{
    font-size: 36px;
}

.section1 .left .tags{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 25px 0px;
    gap: 5px 5px;
}
.section1 .left .tags h4{
    background-color: var(--grey);
    white-space: nowrap;
    padding: 10px 15px;
    border-radius: 5px;
}
.section1 .left h3{
    font-size: 28px;
}
.section1 .left .lgrey{
    font-size: 15px;
    font-weight: 800;
}

/*_--------------------------------------------*/
/*:----------- LEFT LOWER SECTION ------------*/
/*_------------------------------------------*/
.section1 .left .cta{
    display: flex;
    align-items: center;

}

.left .cta button{
    background-color: var(--green);
    padding: 17px 48px;
    border: none;
    border-radius: 5px;
    margin: 10px 0px;
    margin-right: 5px;
}
.left .cta button:nth-child(2){
    background-color: var(--grey);
}



/*:-======================================================*/
/*+----------------- RIGHT SECTION ----------------------*/
/*=-====================================================*/


/*:--------------------------------------------*/
/*:------------ RIGHT UPPER SECTION ----------*/
/*:------------------------------------------*/

.section1 .right .right-in{
    width: 600px;
}
.section1 .right .right-in .image{
    width: 100%;
}
.section1 .right .right-in .image img{
    width: 100%;
    overflow: hidden;
}

.right-in .image-bottom{
    padding: 20px;
    display: flex;
    align-items: center;
    padding-top: 30px;
    gap: 8px;
    border-radius: 5px;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--grey);

}
.right-in .image-bottom h4{
    padding: 10px;
    background-color: #151515;
    width: 45%;
    border-radius: 4px;
}



/*=~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*.------------------- Responsiveness -------------------- */
/*=~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

@media (max-width:1540px) {
    .section1 .right .right-in{
    width: 39vw;
    }
}

@media (max-width:1400px) {
    .section1 .left h1{
    font-size: 2.5vw;
    }
}

@media (max-width:1300px) {
    .section1 .right .right-in{
    width: 502px;
    }
}

@media (max-width:1000px){
    main{
        padding-top: 50px;
    }
    .section1{
        padding: 15px 3.5vw;
    }
}


/*:-=========================================*/
/*=------------- Mobile view ---------------*/
/*:-=======================================*/
@media (max-width:800px) {
    main{
        padding-top: 50px;
    }
    
    .section1{
        flex-direction: column-reverse;
        padding: 15px 4vw;
    }
    .section1 .left{
        width: 100%;
        margin-top: 30px;
    }
/*:-----------------------------------------*/
/*:------------- H1 heading ---------------*/
/*:---------------------------------------*/
    .section1 .left h1{
    font-size: 3.5vw;
    }
    .section1 .right .right-in{
    width: 100%;
    }

/*:-------------------------------------------*/
/*:------------- Image bottom box -----------*/
/*:-----------------------------------------*/
    .right-in .image-bottom{
    padding: 2.5vw;
    padding-top: 2.8vw;
    gap: 8px;
    border-radius: 5px;
    }

    .right-in .image-bottom h4{
        padding: 6px 12px;
        font-size: 2.3vw;
    }

/*:--------------------------------------*/
/*:------------ Tags area --------------*/
/*:------------------------------------*/
    .section1 .left .tags{
    margin: 2.8vw 0px;
    gap: 5px 5px;
    }
    .section1 .left .tags h4{
    padding: 7px 12px;
    font-size: 2vw;
    }


    .section1 .left h3{
    font-size: 28px;
    }

/*:--------------------------------------*/
/*:------------ cta buttons ------------*/
/*:------------------------------------*/

    .left .cta button{
        padding: 17px 0px;
        width: 100%;
        margin: 10px 0px;
        margin-right: 5px;
    }
    
    .section1 .left h3{
        font-size: 4.5vw;
    }

    .section1 .left .lgrey{
    font-size: 2.5vw;
    font-weight: 800;
    }
}


@media (max-width:600px) {
    .section1 .left h1{
    font-size: 3.2vw;
}
}
